<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    {{!-- Header stuff goes here --}}
    <img
      class="profile-img"
      src="{{actor.img}}"
      data-edit="img"
      title="{{actor.name}}"
      height="100"
      width="100"
    />
    <div class="header-fields">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{actor.name}}"
          placeholder="{{localize 'TLGCC.Name'}}"
        />
      </h1>
      <div class="resources grid grid-2col">{{!-- resources here --}}</div>
      <div class="abilities grid grid-3col">{{!-- abilities here --}}</div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Items</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">{{!-- Tab content goes here --}}</section>
  {{log "CONTEXT!!!!"}} {{log this}}
</form>
