<div class="resource flex-group-center">
  <h3 title="{{localize 'TLGCC.spellsKnownhover'}}">
    {{localize 'TLGCC.spellsKnown'}}
  </h3>
</div>
<section class="resources grid grid-10col">
  {{#each system.spellsPerLevel.value as |spellsPerLevel level|}}
  <div class="resource flex-group-center">
    <label for="system.spellsPerLevel.{{level}}" class="resource-label"
      >{{level}}</label
    >
    <div class="resource-content flexrow flex-center flex-between">
      <input
        type="number"
        name="system.spellsPerLevel.value.{{level}}"
        value="{{spellsPerLevel}}"
        data-dtype="Number"
      />
    </div>
  </div>
  {{/each}}
</section>

<ol class="items-list">
  {{#each spells as |spells spellLevel|}}
  <li class="item flexrow items-header">
    <div class="item-name">
      {{localize 'TLGCC.spellLevel'}} {{spellLevel}} {{localize 'TLGCC.Spells'}}
    </div>
    <div class="item-detail">{{localize 'TLGCC.Prepared'}}</div>
    <div class="item-controls">
      <a
        class="item-control item-create"
        title="Create item"
        data-type="spell"
        data-spell-level-value="{{spellLevel}}"
        ><i class="fas fa-plus"></i> {{localize 'TLGCC.Add'}}</a
      >
    </div>
  </li>
  {{#each spells as |item id|}}
  <li class="item flexrow" data-item-id="{{item._id}}">
    <div class="item-name flexrow">
      <div class="item-image">
        <a
          class="rollable"
          data-roll-type="item"
          data-label="@actor.name casts @item.name with a Save of @spell.savevalue and duration @spell.duration"
          ><img
            src="{{item.img}}"
            title="Cast Spell: {{item.name}}"
            width="24"
            height="24"
        /></a>
      </div>
      <h4 title="{{system.spell.summary}}">{{item.name}}</h4>
      <a
        class="rollable"
        data-roll-type="damage"
        data-roll="{{system.spelldmg.value}}"
        ><img
          src="systems/castles-and-crusades/styles/damage.svg"
          title="Roll damage for {{item.name}}"
          width="24"
          height="24"
      /></a>
    </div>
    <div class="item-prop grid grid-3col">
      <div class="flex-group-right">
        <a class="item-control spell-prepare" data-change="-1"
          ><i class="fas fa-minus"></i
        ></a>
      </div>
      <div class="flex-group-center">{{item.system.prepared.value}}</div>
      <div class="flex-group-left">
        <a class="item-control spell-prepare" data-change="+1"
          ><i class="fas fa-plus"></i
        ></a>
      </div>
    </div>
    <div class="item-controls">
      <a class="item-control item-edit" title="Edit Item"
        ><i class="fas fa-edit"></i
      ></a>
      <a class="item-control item-delete" title="Delete Item"
        ><i class="fas fa-trash"></i
      ></a>
    </div>
  </li>
  {{/each}} {{/each}}
</ol>
