<section class="resources grid grid-6col">
  <div class="resource flex-group-center">
    <label for="system.money.pp.value" class="resource-label"
      >{{system.money.pp.label}}</label
    >
    <div class="resource-content flexrow flex-center flex-between">
      <input
        type="text"
        name="system.money.pp.value"
        value="{{system.money.pp.value}}"
        data-dtype="String"
      />
    </div>
  </div>

  <div class="resource flex-group-center">
    <label for="system.money.gp.value" class="resource-label"
      >{{system.money.gp.label}}</label
    >
    <div class="resource-content flexrow flex-center flex-between">
      <input
        type="text"
        name="system.money.gp.value"
        value="{{system.money.gp.value}}"
        data-dtype="String"
      />
    </div>
  </div>

  <div class="resource flex-group-center">
    <label for="system.money.sp.value" class="resource-label"
      >{{system.money.sp.label}}</label
    >
    <div class="resource-content flexrow flex-center flex-between">
      <input
        type="text"
        name="system.money.sp.value"
        value="{{system.money.sp.value}}"
        data-dtype="String"
      />
    </div>
  </div>

  <div class="resource flex-group-center">
    <label for="system.money.cp.value" class="resource-label"
      >{{system.money.cp.label}}</label
    >
    <div class="resource-content flexrow flex-center flex-between">
      <input
        type="text"
        name="system.money.cp.value"
        value="{{system.money.cp.value}}"
        data-dtype="String"
      />
    </div>
  </div>
</section>

<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">{{localize 'ITEM.TypeItem'}}</div>
    <div class="item-detail">
      {{localize 'TLGCC.CarriedWeight'}}: {{carriedWeight}} {{localize
      'TLGCC.WeightMeasure'}}
    </div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create item" data-type="item"
        ><i class="fas fa-plus"></i> {{localize 'TLGCC.Add'}}</a
      >
    </div>
  </li>
  {{#each gear as |item id|}}
  <li class="item flexrow" data-item-id="{{item._id}}">
    <div class="item-name">
      <div class="item-image">
        <a class="rollable" data-roll-type="item"
          ><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"
        /></a>
      </div>
      <h4>{{item.system.quantity.value}} {{item.name}}</h4>
    </div>
    <div class="item-prop grid grid-2col">
      <div class="flex-left align-right">
        {{item.system.weight.value}} {{localize 'TLGCC.WeightMeasure'}}
      </div>
      <div class="flex-right">{{item.system.price.value}}</div>
    </div>
    <div class="item-controls">
      <a class="item-control item-edit" title="Edit Item"
        ><i class="fas fa-edit"></i
      ></a>
      <a class="item-control item-delete" title="Delete Item"
        ><i class="fas fa-trash"></i
      ></a>
    </div>
  </li>
  {{/each}}
</ol>
