<section class="resources grid grid-5col">
  <div class="resource flex-group-center">
    <label
      for="system.armorClass.value"
      title="{{localize 'TLGCC.ACtitle'}}"
      class="resource-label"
      >{{localize system.armorClass.abbr}}</label
    >
    <div class="resource-content flexrow flex-center flex-between">
      <input
        type="number"
        title="{{localize 'TLGCC.ACtitle'}}"
        name="system.armorClass.value"
        value="{{system.armorClass.value}}"
        data-dtype="Number"
      />
    </div>
  </div>

  <div class="resource flex-group-center">
    <label
      for="system.attackBonus.value"
      title="{{localize 'TLGCC.BtHtitle'}}"
      class="resource-label"
      >{{localize system.attackBonus.abbr}}</label
    >
    <div class="resource-content flexrow flex-center flex-between">
      <input type="number" title="{{localize 'TLGCC.BtHtitle'}}"
      name="system.attackBonus.value" value="{{system.attackBonus.value}}"
      data-dtype="Number" {{#if (eq actor.type "monster" )}}disabled{{/if}} />
    </div>
  </div>

  <div class="resource flex-group-center grid-span-2">
    <label for="system.move.value" class="resource-label"
      >{{localize system.move.label}}</label
    >
    <div class="resource-content flexrow flex-center flex-between">
      <input
        type="text"
        name="system.move.value"
        value="{{system.move.value}}"
        data-dtype="String"
      />
    </div>
  </div>
</section>

<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">{{localize 'ITEM.TypeWeapon'}}</div>
    <div class="item-detail">
      {{localize 'TLGCC.Attack'}}&nbsp;/&nbsp;{{localize 'TLGCC.DamageAbbr'}}
    </div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create item" data-type="weapon"
        ><i class="fas fa-plus"></i> {{localize 'TLGCC.Add'}}</a
      >
    </div>
  </li>
  {{#each weapons as |weapon id|}}
  <li class="item flexrow" data-item-id="{{weapon._id}}">
    <div class="item-name">
      <div class="item-image">
        <img
          src="{{weapon.img}}"
          title="{{weapon.name}}"
          width="24"
          height="24"
        />
      </div>
      <h4>{{weapon.name}}</h4>
    </div>
    <div class="item-prop item-image">
      <a class="rollable" data-roll-type="weapon" data-attack="melee"
        ><img
          src="systems/castles-and-crusades/styles/melee.svg"
          title="{{localize 'TLGCC.Melee'}} {{localize 'TLGCC.Attack'}}"
          width="24"
          height="24"
      /></a>
      <a class="rollable" data-roll-type="weapon" data-attack="ranged"
        ><img
          src="systems/castles-and-crusades/styles/ranged.svg"
          title="{{localize 'TLGCC.Ranged'}} {{localize 'TLGCC.Attack'}}"
          width="24"
          height="24"
      /></a>
      <span class="flexshrink">/</span>
      <a
        class="rollable"
        data-roll-type="damage"
        data-roll="{{weapon.system.damage.value}}"
        data-label="{{weapon.name}} {{localizeLowerCase weapon.system.damage.label}}"
        ><img
          src="systems/castles-and-crusades/styles/damage.svg"
          title="Roll Damage: {{weapon.system.damage.value}}"
          width="24"
          height="24"
      /></a>
    </div>
    <div class="item-controls">
      <a class="item-control item-edit" title="Edit Item"
        ><i class="fas fa-edit"></i
      ></a>
      <a class="item-control item-delete" title="Delete Item"
        ><i class="fas fa-trash"></i
      ></a>
    </div>
  </li>
  {{/each}}
</ol>

<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">{{localize 'ITEM.TypeArmor'}}</div>
    <div class="item-detail" title="{{localize 'TLGCC.AChovertext'}}">
      {{localize 'TLGCC.ArmorClass'}}
    </div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create item" data-type="armor"
        ><i class="fas fa-plus"></i> {{localize 'TLGCC.Add'}}</a
      >
    </div>
  </li>
  {{#each armors as |armor id|}}
  <li class="item flexrow" data-item-id="{{armor._id}}">
    <div class="item-name">
      <div class="item-image">
        <img
          src="{{armor.img}}"
          title="{{armor.name}}"
          width="24"
          height="24"
        />
      </div>
      <h4>{{armor.name}}</h4>
    </div>
    <div class="item-prop">
      {{localize armor.system.armorClass.abbr}}
      +{{armor.system.armorClass.value}}
    </div>
    <div class="item-controls">
      <a class="item-control item-edit" title="Edit Item"
        ><i class="fas fa-edit"></i
      ></a>
      <a class="item-control item-delete" title="Delete Item"
        ><i class="fas fa-trash"></i
      ></a>
    </div>
  </li>
  {{/each}}
</ol>
