<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
    />
    <div class="header-fields">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="{{localize 'TLGCC.Name'}}"
        />
      </h1>
      <div class="grid grid-1col">
        <div class="resource">
          <label for="system.formula.value" class="resource-label"
            >{{localize system.formula.label}}</label
          >
          <input
            type="text"
            name="system.formula.value"
            value="{{system.formula.value}}"
            data-dtype="String"
          />
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="description">
      <div class="grid grid-2col">
        <div class="resource grid-span-2">
          <label for="system.feature.value" class="resource-label"
            >{{localize 'TLGCC.FeatureTitle'}}</label
          >
          <input
            type="text"
            name="system.feature.value"
            value="{{system.feature.value}}"
            data-dtype="String"
          />
        </div>
      </div>
      {{editor system.description target="system.description" rollData=rollData
      button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
