{{!-- This template is a fallback for when items don't have more specific
templates. --}} {{!-- Generally, you'll want to make more specific templates
when possible. --}}
<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
    />
    <div class="header-fields">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="{{localize 'TLGCC.Name'}}"
        />
      </h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description"
      >{{localize 'TLGCC.DescriptionTab'}}</a
    >
    <a class="item" data-tab="attributes">{{localize 'TLGCC.AttributesTab'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the
      parent actor's (if any) roll data to the rollData prop. --}} {{editor
      content=data.description target="data.description" rollData=rollData
      button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
    </div>
  </section>
</form>
