<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
    />
    <div class="header-fields">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="{{localize 'TLGCC.Name'}}"
        />
      </h1>
      <div class="grid grid-4col">
        <div class="resource">
          <label for="system.price.value" class="resource-label"
            >{{localize system.price.label}}</label
          >
          <input
            type="text"
            name="system.price.value"
            value="{{system.price.value}}"
            data-dtype="String"
          />
        </div>
        <div class="resource">
          <label for="system.weight.value" class="resource-label"
            >{{localize system.weight.label}}</label
          >
          <input
            type="text"
            name="system.weight.value"
            value="{{system.weight.value}}"
            data-dtype="String"
          />
        </div>
        <div class="resource">
          <label for="system.itemev.value" class="resource-label"
            >{{localize 'TLGCC.ItemEV'}}</label
          >
          <input
            type="text"
            name="system.itemev.value"
            value="{{system.itemev.value}}"
            data-dtype="String"
          />
        </div>
        <div class="resource">
          <label for="system.damage.value" class="resource-label"
            >{{localize system.damage.label}}</label
          >
          <input
            type="text"
            name="system.damage.value"
            value="{{system.damage.value}}"
            data-dtype="String"
          />
        </div>
        <div class="resource">
          <label for="system.bonusAb.value" class="resource-label"
            >{{localize system.bonusAb.label}}</label
          >
          <input
            type="text"
            name="system.bonusAb.value"
            value="{{system.bonusAb.value}}"
            data-dtype="Number"
          />
        </div>
        <div class="resource">
          <label for="system.range.value" class="resource-label"
            >{{localize system.range.label}}</label
          >
          <input
            type="text"
            name="system.range.value"
            value="{{localize system.range.value}}"
            data-dtype="String"
          />
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="description">
      {{editor system.description target="system.description" rollData=rollData
      button=true owner=owner editable=editable}}
    </div>
  </section>
  {{log "CONTEXT!!!!"}} {{log this}}
</form>
