/* Custom Fonts */
@font-face {
  font-family: 'Soutane';
  src: url('soutane-webfont.eot');
  src: url('soutane-webfont.eot?#iefix') format('embedded-opentype'),
    url('soutane-webfont.woff') format('woff'),
    url('soutane-webfont.ttf') format('truetype'),
    url('soutane-webfont.svg#soutaneregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Soutane';
  src: url('soutanebold-webfont.eot');
  src: url('soutanebold-webfont.eot?#iefix') format('embedded-opentype'),
    url('soutanebold-webfont.woff') format('woff'),
    url('soutanebold-webfont.ttf') format('truetype'),
    url('soutanebold-webfont.svg#soutanebold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Soutane';
  src: url('soutanebolditalic-webfont.eot');
  src: url('soutanebolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('soutanebolditalic-webfont.woff') format('woff'),
    url('soutanebolditalic-webfont.ttf') format('truetype'),
    url('soutanebolditalic-webfont.svg#soutanebold_italic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Soutane';
  src: url('soutaneitalic-webfont.eot');
  src: url('soutaneitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('soutaneitalic-webfont.woff') format('woff'),
    url('soutaneitalic-webfont.ttf') format('truetype'),
    url('soutaneitalic-webfont.svg#soutaneitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SoutaneBlack';
  src: url('soutaneblack-webfont.eot');
  src: url('soutaneblack-webfont.eot?#iefix') format('embedded-opentype'),
    url('soutaneblack-webfont.woff') format('woff'),
    url('soutaneblack-webfont.ttf') format('truetype'),
    url('soutaneblack-webfont.svg#soutaneblackregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TeX Gyre Adventor';
  src: url('texgyreadventor-regular-webfont.eot');
  src: url('texgyreadventor-regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('texgyreadventor-regular-webfont.woff') format('woff'),
    url('texgyreadventor-regular-webfont.ttf') format('truetype'),
    url('texgyreadventor-regular-webfont.svg#tex_gyre_adventorregular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TeX Gyre Adventor';
  src: url('texgyreadventor-italic-webfont.eot');
  src: url('texgyreadventor-italic-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('texgyreadventor-italic-webfont.woff') format('woff'),
    url('texgyreadventor-italic-webfont.ttf') format('truetype'),
    url('texgyreadventor-italic-webfont.svg#tex_gyre_adventoritalic')
      format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'TeX Gyre Adventor';
  src: url('texgyreadventor-bold-webfont.eot');
  src: url('texgyreadventor-bold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('texgyreadventor-bold-webfont.woff') format('woff'),
    url('texgyreadventor-bold-webfont.ttf') format('truetype'),
    url('texgyreadventor-bold-webfont.svg#tex_gyre_adventorbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TeX Gyre Adventor';
  src: url('texgyreadventor-bolditalic-webfont.eot');
  src: url('texgyreadventor-bolditalic-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('texgyreadventor-bolditalic-webfont.woff') format('woff'),
    url('texgyreadventor-bolditalic-webfont.ttf') format('truetype'),
    url('texgyreadventor-bolditalic-webfont.svg#tex_gyre_adventorbold_italic')
      format('svg');
  font-weight: bold;
  font-style: italic;
}

/* Global styles */
.game {
  font-family: 'Soutane', 'Century Gothic', 'TeX Gyre Adventor',
    var(--font-primary);
}
#logo {
  content: url('/systems/castles-and-crusades/assets/CnClogo.webp');
  height: 100px;
  width: 150px;
}
.rollable:hover,
.rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.ability-button {
  box-shadow: 1px 1px 2px 1px rgba(59, 59, 59, 0.2);
  padding: 2px;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flexlarge {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.flex-align-center {
  align-self: center;
}

.align-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

/* Styles limited to tlgcc sheets */

.tlgcc.sheet.actor {
  font-family: 'Century Gothic', 'TeX Gyre Adventor', 'Soutane',
    var(--font-primary);
}

.tlgcc .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  /* margin-bottom: 10px; */
}

.tlgcc .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.tlgcc .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.tlgcc .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.tlgcc .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.tlgcc .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.tlgcc .sheet-body,
.tlgcc .sheet-body .description,
.tlgcc .sheet-body .editor,
.tlgcc .sheet-body .tab,
.tlgcc .sheet-body .tab .editor {
  height: calc(100% - 2px);
}

.tlgcc .sheet-body .tab.biography {
  max-height: calc(100% - 53px);
}

.tlgcc .editor-content {
  font-family: 'Soutane', 'Century Gothic', 'TeX Gyre Adventor',
    var(--font-primary);
  font-size: 18px;
  overflow-y: hidden;
}

.tlgcc .tox .tox-editor-container {
  background: #fff;
}

.tlgcc .tox .tox-edit-area {
  padding: 0 8px;
}

.tlgcc .resource-label {
  font-weight: bold;
  font-size: 16px;
}

.tlgcc .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.tlgcc .items-header > * {
  font-size: 16px;
  text-align: center;
}

.tlgcc .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*.tlgcc .items-header .item-detail {
  font-weight: bold;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}*/

.tlgcc .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}

.tlgcc .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tlgcc .items-list .item-name {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tlgcc .items-list .item-detail {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tlgcc .items-list .item-name h3,
.tlgcc .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}

.tlgcc .items-list .item-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.tlgcc .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}

.tlgcc .items-list .item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}

.tlgcc .items-list .item:last-child {
  border-bottom: none;
}

.tlgcc .items-list .item .item-name {
  color: #191813;
}

.tlgcc .items-list .item .item-name .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}

.tlgcc .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.tlgcc .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.tlgcc .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}

.tlgcc .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}

.tlgcc .item-detail {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  padding: 0 8px;
}

.tlgcc .effects .item .effect-source,
.tlgcc .effects .item .effect-duration,
.tlgcc .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.tlgcc .effects .item .effect-controls {
  border: none;
}

.ability-header {
  justify-content: flex-start;
  flex-direction: row;
  text-align: start;
  font-size: 0.8em;
}
.abilityscore {
  width: 50px;
  font-size: 20px;
}
.abilitybox {
  border: 15px solid transparent; /* control the offset of the lines */
  outline: 2px solid #000; /* adjust the 2px here */
  outline-offset: -10px; /* control the offset of the rectangle */
  background: linear-gradient(#777777 0 0) top,
    linear-gradient(#777777 0 0) left, linear-gradient(#777777 0 0) bottom,
    linear-gradient(#777777 0 0) right;
  background-size: 200% 2px, 2px 200%; /* adjust the 2px here */
  background-origin: padding-box;
  background-repeat: no-repeat;
}
.flex-break {
  flex-basis: 100%;
  height: 0;
}

.ability-label {
  font-weight: bold;
  font-size: 26px;
}
.tlgbackground {
  background: url('/systems/castles-and-crusades/assets/tlg_watermark.webp');
  background-repeat: no-repeat;
}
